 Logout Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Seguro que quieres cerrar Sesión?
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | Select "¿Estás seguro que quieres cerrar sesión?.
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(href='login.html') Logout
